body {
    font-family: Montserrat, sans-serif;
    line-height: 1.6;
    color: #232020;
    background-color:  #4d4042 ;
    padding: 20px;
}


header {
    background-color: #a2968d;
    padding: 1rem 0;

}

.menu {
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 15px;
    list-style: none;
}

.menu a {
    color: rgb(245, 238, 238);
    font-weight: bold;
}

section {
    background: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 20px;
}

#home {
    text-align: center;
    font-size: 20px;
}

#about {
    text-align: justify
}


h2, h3 {
    color: #48252f;
    margin-bottom: 15px;
}

.main-image {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    height: auto;
}
.skills-table {
    border: 2px solid #0b0d0f; 
    width: 100%;
    margin-top: 15px;
}

.skills-table th, .skills-table td {
    border: 1px solid #ddd;
    padding: 10px;
    border: 2px solid #0b0d0f; 
    text-align: left;
}

.skills-table th {
    background-color: #664444;
}

.um div {
    background-color: #ddd;

}

footer {
    width: 100%;
    background-color: #a2968d;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}